* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
.flex {
    display: flex;
    flex-wrap: wrap;
  }

.spacebettween {
    justify-content: space-between;
  }

header {
    width: 100%;
    background-color:#ffa74a;
   /* position: -webkit-sticky;*/
    position: sticky;
    top:0px;
}

ul {
  text-transform: none;
  text-decoration: none;
  list-style-type: none;
}

.headi {
  align-items: center;
  text-align: center;
  gap:10px;
}

.logoheader {
  width: 100px;
  margin-left: 500px;
  
}

main {
    width:100% ;
  }