@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wdth,wght@90,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Anek+Kannada:wdth,wght@90,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Anek+Kannada:wdth,wght@90,100..800&family=Inter:wght@200&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@665&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Anek+Kannada:wdth,wght@90,100..800&family=Inter:wght@200&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@665&family=Luxurious+Roman&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Anek+Kannada:wdth,wght@90,100..800&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@200&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@665&family=Luxurious+Roman&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*STANDAR*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
.flex {
    display: flex;
    
  }

.spacebettween {
    justify-content: space-between;
  }

.enligne {
  align-items: center;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.relative{
  position: relative;
}

.container-1000 {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

header {
    width: 100%;
    position: sticky;
    top:0px;
    z-index: 100;
    background-color: #000000;
    /*background-image: url("")*/
    /*background-image: ;*/
    /*filter: blur(7px);*/ 
}

ul {
  text-transform: none;
  text-decoration: none;
  list-style-type: none;
}

.petittire {
  font-size: 22px;
  font-family: "Nunito", sans-serif;
  margin-top: 70px;
  margin-bottom: 12px;
}

.petittext {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

/* HEADER */

header a {
  text-decoration: none;
  color:#fff;
}

.padd1 {
  margin-left: 77px;
  margin-right: 44px;
}

.padd2 {
  margin-left:44px;
}

.headi {
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  gap:100px;
}

.logoheader {
  width: 75px;
  display: block;
  object-fit: cover; 
  padding-bottom: 10px;
 
}

.heado {
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  gap:125px;
  
}

/*MAIN*/

main {
    width:100% ;
  }

/* HERO */
  
.video {
  width: 100%;
}

.hero {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%); /*remet le centre de déplaement au centre de gravité de l'objet*/
}


.nom {
  color:white;
  font-family: "Lexend", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  text-align: center;
}

.pp {
  color:#fff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  text-align: center;
}

/*Texte Concept + AppelReservation*/

.guille {
  color:#262626;
}

.textconcept {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.appelres {
  font-size: 23px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.boutonreser {
  /*position: absolute;*/
  height: 40px;
  color: #ffffff;
  background-color: #1e1d1d;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 19px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 16px;
  padding: 12px 9px 9px 9px;
  /*left: 50%;*/
  /*transform: translate(-50%,-50%);*/
}

.material-symbols-outlined {
  font-size: 19px;
}

/*Carde Presentation Jeux(valid)*/

.cardimgp {
  width: 350px;
  border-radius: 6px;
  box-shadow: 8px 8px 16px hsla(0, 0%, 0%, 0.379);
  margin-left: 45px;
}


.cardtp {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 9px;
}


.cardtexp {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
   text-align: center;
  }

.width50{
  width: calc(50% - 50px)
}

.articlep {
  margin-top:100px;
  margin-bottom: 120px;
}

/* class css qui permet de faire un reverse */

.articlep:nth-child(2n){
  flex-direction: row-reverse;
}

/* Commentaire avantage*/

.comm0 {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 75px;
  box-shadow: 4px 4px 12px hsla(0, 0%, 0%, 0.379);
  border-radius: 4px;
}


.slide0 {
  background-color: rgb(255, 255, 255);
  height: 100px;
  border-radius: 4px;
}

.pourulav{
  border-radius: 4px;
}

.commtitre {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  padding-top: 30px;
}



/* Carde Activités*/

.cardga {
  width: 40%;
  border-radius: 5px 0 0 5px;
  box-shadow: 4px 4px 12px hsla(0, 0%, 0%, 0.379);
  margin: 125px 0 0 15px;
}

.cardda {
  width: 80%;
  border-radius: 0 5px 5px 0;
  box-shadow: 4px 4px 12px hsla(0, 0%, 0%, 0.379);
  margin: 125px 15px 0 0;
  
}

.cardpa {
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  margin-top: 7px;
  margin-left: 0px;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.cardspan3a {
  font-size: 60px;
  margin-left:72px;
  margin-top: 7px;
  color:#000000;
}

.cardtexa {
  font-size: 13px;
  padding: 10px 10px 10px 10px;
  margin-left:10px;
  margin-right: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  text-align: center;
}


.cardimga {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px 1px 1px 1px;
}


/* Commentaire Experience*/

.guille1 {
  color:#262626;
  padding-right: 10px;
  padding-left: 10px;
}

.radiusslider{
  border-radius: 5px;
}

.comm1 {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 75px;
  box-shadow: 4px 4px 12px hsla(0, 0%, 0%, 0.379);
  border-radius: 5px;
}


.slide {
  background-color: rgb(255, 255, 255);
  height: 200px;
  border-radius: 5px;
}

.commtitre {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.commtext {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  padding-right: 50px;
  padding-left:50px;
}

.commnote{
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  color: #934709;
  padding-top: 25px;
  padding-right: 1px;
  padding-left:110px;
}

.commPrem {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 19px;
  padding-top: 25px;
  margin-left: 680px;
  font-weight: bold;
}

.iconcomm {
  color: #934709;
  padding-top: 25px;
  font-size: 24px;
}


/* Tableau Horraire*/


    /* Base*/
    .tailletab {
      margin-top: 60px;
      margin-left: 100px;
      margin-right: 100px;
  }
  
  .grandtitretab {
      font-family: "Nunito", sans-serif;
      font-size: 22px;
      margin-bottom: 7px;
      text-align: center;
  }
  
  .petittiretab {
    font-size: 21px;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color:#fff;
  }
  
  .petittexttab {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
  }
  
      /* Base */
  
       /* Partie Tete Tableau*/
  .tabhead {
      background-color: #000000; 
      border-radius: 4px 4px 0 0 ;  
      box-shadow: 4px 4px 12px  hsla(0, 0%, 0%, 0.379);
  }
  
  .borderrighr {
      border-right: 1px solid #fff;
  }
  
  .tabtitrepad{
      padding:14.4px;
  }
  
      /* Partie Tete Tableau*/
  
      /* Partie Corps Tableau*/
  .tabcate {
      box-shadow: 4px 4px 12px hsla(0, 0%, 0%, 0.379);
      border-radius: 0 0 4px 4px; 
  }
  
  .tabcatetime {
      padding-left: 15px;
      
  }
  
  .tabcateicon {
      padding-left: 122.5px;
      padding-right: 38.5px;
  }
  
      /* Partie Corps Tableau*/
  
  /* Tableau Horraire*/



/*  Carte Player/Tarifs */

.cardtarifsplayer {
  width: 190px;
  margin-top: 75px;
  margin-left: 55px;
  margin-bottom: 80px;
  padding: 8px;
  border-radius: 7px;
  box-shadow: 4px 4px 12px hsla(0, 0%, 0%, 0.379);
  background-color: #000000;
}

.cardtextplayer {
  margin-top: 10px;
  font-size: 22px;
  color:#fff;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.cardtexttarifs {
  margin-top: 12px;
  margin-bottom: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  text-align: center;
  color:#fff;
}

.cardimgplayer1 {
  width: 120px;
  border-radius: 8px;
  padding-left: 52.5px;
  margin-top: 12px;
}

.cardimgplayer2 {
  width: 135px;
  border-radius: 8px;
  padding-left: 38px;
  margin-top: 12px;
}

.cardimgplayer3 {
  width: 154px;
  border-radius: 8px;
  padding-left: 21px;
  margin-top: 12px;
}

.cardimgplayer4 {
  width: 168px;
  object-fit: cover;
  border-radius: 8px;
  padding-left: 11px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.cardimgplayer5 {
  width: 168px;
  object-fit: cover;
  border-radius: 8px;
  padding-left: 11px;
  margin-top: 18px;
  margin-bottom: 6px;
}


/* Partie Map */

#map {
  height: 300px;
}

/*.span1 {
  color : #000000;  
  font-size: 35px; 
}*/

.mapstyle{
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 120px;
  box-shadow: 10px 10px 15px hsla(0, 0%, 0%, 0.379);
  border-radius: 8px;
}

.copyrimap {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}


/* Footer */

footer {
  width: 100%;
  background-color: #000000;
  height: 400px;
  margin-top: 80px;
  
}

footer a {
  text-transform: none;
  text-decoration: none;
  list-style-type: none;
  color:#fff;
}

.categorifoot {
  margin-top: 120px;
  margin-left: 150px;
}

.categorifoottext {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  color:#fff;
}

.logofooter {
  width: 175px;
  margin-top:65px;
  margin-left: 291px;
  
}


.categorifoot2 {
  margin-top: 120px;
  margin-left: 320px;
}

.categorifoottitre2 {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  color:#fff;
  margin-bottom: 8px;
  margin-left: 45px;

}

.categorifoottext2 {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color:#fff;
  text-align: right;
}

.iconresau{
  width: 30px;
  margin-top: 40px;
}

/* Reservation */

.video1 {
  width: 100%;
}
