@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wdth,wght@90,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
.flex {
    display: flex;
    flex-wrap: wrap;
  }

.spacebettween {
    justify-content: space-between;
  }

header {
    width: 100%;
    background-color:#2b2b2b;
   /* position: -webkit-sticky;*/
    position: sticky;
    top:0px;
}

ul {
  text-transform: none;
  text-decoration: none;
  list-style-type: none;
}

header a {
  text-decoration: none;
  color:#fff;
}
.band {
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  gap: 70px;
}

.headi {
  padding-top: 40px;
  padding-left: 47px;
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  
}

.logoheader {
  width: 100px;
  margin-left:95px;
  display: block;
  object-fit: cover; 
  padding-bottom: 9px;
}

.heado {
  padding-top: 40px;
  padding-left: 90px;
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  gap:100px;
  
}

main {
    width:100% ;
  }

